* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #d5e1ef;
  font-family: "Outfit", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-div {
  width: 32rem;
  height: 49.7rem;
  background: #ffffff;
  border-radius: 2rem;
  box-shadow: 0rem 2.5rem 2.5rem rgb(0 0 0 / 5%);
}
.qr-img {
  width: 28.8rem;
  border-radius: 1rem;
  background: #2c7dfa;
  margin: 1.6rem 1.6rem 2.4rem 1.6rem;
}
.title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.8rem;
  text-align: center;
  color: #1f314f;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}
.text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.01875rem;
  color: #7d889e;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-bottom: 4rem;
}
